<header class="header">
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add-item">Add item</a>
            </li>
            <li>
                <a href="/info">Info</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="addBtn" aria-expanded="false" onclick="redirectToAddItem()">+</button>
    </div>
    <script>
        function redirectToAddItem() {
            window.location.href = '/add-item';
        }
    </script>
</header>