<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-item" class="button">+ Add new Item</a>
</div>
<ul class="admin-posts">
    <% data.forEach(item=> { %>
        <li>
            <a href="/item/<%= item._id %>">
                <%= item.name %> &nearr;
            </a>
            <div class="admin-post-controls">
                <a href="/edit-item/<%=item._id %>" class="btn">Edit</a>
                <form action="/delete-item/<%= item._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn">
                </form>
            </div>
        </li>
        <% }) %>
</ul>