<h1>Information about this project</h1>
<p>This project was developed as part of the lecture Middleware Technology or Modern Software Architectures at the
    University of Applied Sciences Stuttgart. </p>
<p> The technologies used are
    Node.js and Express Server, MongoDB and EJS, JS, HTML and CSS. </p>

<p> Please add an .env file to the project and create the variable <i>MONGODB_URI</i> in it and give it the connection
    string
    of your MongoDB.

    Log in to MongoDB and create a cluster.
    Then click on Connect to display the connection string.
    Don't forget to whitelist your IP-adress.</p>

<br />
<p><i>last updated: 08.01.2024</i></p>